avika-data-factory-2025/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "avika-data-factory-2025"
		},
		"DataLakeConnection_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DataLakeConnection'"
		},
		"SQLDatabaseConnection_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SQLDatabaseConnection'"
		},
		"DataLakeConnection_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://avikadatalake2024.dfs.core.windows.net/"
		},
		"SQLDatabaseConnection_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "avika-sql-server-2025.database.windows.net"
		},
		"SQLDatabaseConnection_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "DataWarehouse"
		},
		"SQLDatabaseConnection_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataLakeConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to Data Lake Storage for CSV files",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DataLakeConnection_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DataLakeConnection_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDatabaseConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to DataWarehouse SQL Database",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SQLDatabaseConnection_properties_typeProperties_server')]",
					"database": "[parameters('SQLDatabaseConnection_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SQLDatabaseConnection_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SQLDatabaseConnection_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Files_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "data-lake-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CUST_MSTR_Source_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@item().name",
							"type": "Expression"
						},
						"fileSystem": "data-lake-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CUST_MSTR_Table_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDatabaseConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "phone",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "zipcode",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CUST_MSTR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDatabaseConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/H_ECOM_ORDER_CSV_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@item().name",
							"type": "Expression"
						},
						"fileSystem": "data-lake-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/H_ECOM_ORDER_Table_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDatabaseConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "product_name",
						"type": "nvarchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "unit_price",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "total_amount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "order_status",
						"type": "nvarchar"
					},
					{
						"name": "payment_method",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "H_ECOM_Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDatabaseConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/master_child_CSV_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@item().name",
							"type": "Expression"
						},
						"fileSystem": "data-lake-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/master_child_DB_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDatabaseConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "parent_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "child_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "relationship_type",
						"type": "nvarchar"
					},
					{
						"name": "created_by",
						"type": "nvarchar"
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "date"
					},
					{
						"name": "date_key",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "master_child"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDatabaseConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/master_child_Source_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@item().name",
							"type": "Expression"
						},
						"fileSystem": "data-lake-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/master_child_Table_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDatabaseConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "parent_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "child_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "relationship_type",
						"type": "nvarchar"
					},
					{
						"name": "created_by",
						"type": "nvarchar"
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "date"
					},
					{
						"name": "date_key",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "master_child"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDatabaseConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_Data_Processing_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_CSV_Files",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "TRUNCATE TABLE CUST_MSTR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CSV_Files_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter_CUST_MSTR_Files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get_CSV_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_CSV_Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name, 'CUST_MSTR')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Process_CUST_MSTR_Files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_CUST_MSTR_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_CUST_MSTR_Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_CUST_MSTR_Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "file_date",
													"value": {
														"value": "@formatDateTime(concat(substring(item().name, 10, 4), '-', substring(item().name, 14, 2), '-', substring(item().name, 16, 2)), 'yyyy-MM-dd')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "customer_id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customer_id",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "customer_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customer_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "email",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "email",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "phone",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "phone",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "city",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "city",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "state",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "state",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "zipcode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "zipcode",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "file_date",
														"type": "String"
													},
													"sink": {
														"name": "date",
														"type": "DateTime",
														"physicalType": "date"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CUST_MSTR_Source_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "CUST_MSTR_Table_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "UpdateCUSTMSTRDates",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Process_CUST_MSTR_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateCUSTMSTRDates]"
						},
						"linkedServiceName": {
							"referenceName": "SQLDatabaseConnection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "TRUNCATE TABLE CUST_MSTR",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SQLDatabaseConnection",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "TRUNCATE TABLE CUST_MSTR"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Filter_master_child_Files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Truncate_master_child_Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_CSV_Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name, 'master_child_export')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Process_master_child_Files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_master_child_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_master_child_Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_master_child_Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "extracted_date",
													"value": {
														"value": "@formatDateTime(concat(substring(item().name, 20, 4), '-', substring(item().name, 24, 2), '-', substring(item().name, 26, 2)), 'yyyy-MM-dd')",
														"type": "Expression"
													}
												},
												{
													"name": "extracted_date_key",
													"value": {
														"value": "@substring(item().name, 20, 8)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "parent_id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "parent_id",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "child_id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "child_id",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "relationship_type",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "relationship_type",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "created_by",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "created_by",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "status",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "status",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "extracted_date",
														"type": "String"
													},
													"sink": {
														"name": "date",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "extracted_date_key",
														"type": "String"
													},
													"sink": {
														"name": "date_key",
														"type": "Int32",
														"physicalType": "int"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "master_child_CSV_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "master_child_DB_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Truncate_master_child_Table",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Get_CSV_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SQLDatabaseConnection",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "TRUNCATE TABLE master_child"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Filter_H_ECOM_ORDER_Files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get_CSV_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_CSV_Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name, 'H_ECOM_ORDER')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Process_H_ECOM_ORDER_Files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_H_ECOM_ORDER_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_H_ECOM_ORDER_Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_H_ECOM_ORDER_Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "order_id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "order_id",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "customer_id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customer_id",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "product_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "product_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "quantity",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "quantity",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "unit_price",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "unit_price",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "total_amount",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "total_amount",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "order_status",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "order_status",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "payment_method",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "payment_method",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "H_ECOM_ORDER_CSV_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "H_ECOM_ORDER_Table_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-07-19T11:55:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSV_Files_Dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/SQLDatabaseConnection')]",
				"[concat(variables('factoryId'), '/datasets/CUST_MSTR_Source_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/CUST_MSTR_Table_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/master_child_CSV_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/master_child_DB_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/H_ECOM_ORDER_CSV_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/H_ECOM_ORDER_Table_Dataset')]"
			]
		}
	]
}